.form {
    text-align: right;
    height: 600px; 
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
}

.form {
    background-image:  linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('/Users/oliwka/Desktop/all/untitled folder/images/gabrielle-henderson-0vvjNjJif4s-unsplash.jpg');
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}

.contact {
    text-align: left;
    vertical-align: baseline;
    font-size: large;
    text-decoration-color: #5F6370;
    margin-top: 10px;
}

ul {
    list-style-type: none;
  }

  a {
    color: #755658;
  }
